:root {
  --brand-color: #2e2f42;
  --text-color-slate: #434455;
  --footer-color: #f4f4fd;
  --buttons-color: #4d5ae5;
  --paragrah-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --background-color: #fff;
  --background-color-button: #f4f4fd;
  --modal-color: #fcfcfc;
  --border-color: #e7e9fc;
  --icons-color: #8e8f99;
  --ocean-color: #404bbf;
  --form-color: rgba(46, 47, 66, 0.4);
}

body {
  font-family: var(--text-font-family);
  font-family: var(--text-font-family);
  color: var(--contacts-color);
  background-color: var(--background-color);
}

ul {
  padding: 0;
}
p {
  margin: 0;
}

h2 {
  margin: 0;
}

.paypal-form{
  display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.paypal-btn{
  background: linear-gradient(145deg, #009cde, #007bb5); /* PayPal blue gradient */
    border: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 5px; /* Rounded edges */
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.paypal-btn:hover {
    background: linear-gradient(145deg, #007bb5, #009cde); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.paypal-btn:active {
    transform: scale(1); /* Return to normal size on click */
}

.paypal-btn:focus {
    outline: none; /* Remove focus outline */
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.img {
  display: block;
  list-style: none;
}

/* HEADER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.header-buttons {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color-slate);
  position: relative;
  overflow: hidden;
}

.header-buttons-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-buttons:hover,
.header-buttons:focus {
  color: var(--ocean-color);
}

.list-header {
  display: flex;
  gap: 40px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}

.logo-second-word {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.address {
  color: var(--text-color-slate);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  list-style: none;
}

.address-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-left: 251px;
}

.address:hover,
.address:focus {
  color: var(--footer-color);
}
.contacts-address {
  text-decoration: none;
  color: var(--text-color-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-address:hover .contacts-address:focus {
  background-color: var(--ocean-color);
}
/* MOBILE MENU */
.menu-container {
  display: none;
}
.ham-menu-div {
  display: none;
}
.burger-menu-div {
  display: none;
}
/* SECTION 1 */
.title-section {
  margin: auto;
  background-color: var(--brand-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  color: var(--background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: auto;
  padding-bottom: 48px;
}

.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
  color: #ffffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:focus {
  background-color: #404bbf;
  color: #ffffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* SECTION 2 The 4 features */
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.icons-dimensions {
  width: 64px;
  height: 64px;
}

.features-container {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.chapters-list {
  display: flex;
  gap: 24px;
}

.subtitle-item {
  width: 100%;
  min-width: 264px;
}

.subtitles {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--brand-color);
  margin-bottom: 8px;
}

.subtitles-item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--text-color-slate);
}

/* SECTION 3  What are we doing */
.images-container {
  padding-bottom: 120px;
}

.chapters-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}

.images-position {
  display: flex;
  gap: 24px;
}

.images-item {
  min-width: 264;
}
/* SECTION 4 Our team  */
.chapters-color {
  background-color: var(--footer-color);
  padding: 120px 0;
}

.title-chapter {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.jobs-position {
  display: flex;
  gap: 24px;
}
.persons {
  padding: 32px 0;
  display: flex;
  width: 264px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
}

.name-teamcard {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 8px;
}

.specialization {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-slate);
  text-align: center;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.jobs-position-svg {
  width: 40px;
  height: 40px;
}
.positions-teamcard {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--text-color-slate);
  text-align: center;
}
.icon-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.social-media-icons {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.job-item {
  background-color: var(--main-color-white);
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.customers-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  color: #2e2f42;
  text-align: center;

  margin-bottom: 72px;
  font-family: var(--text-font-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.customer-icons-list {
  display: flex;
  gap: 24px;
}

.item-icons {
  width: 168px;
  height: 88px;
}

.icons-link-customers {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link-customers:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.icons-link-customers:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icons {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* FOOTER */
.footer-background {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.partial-footer {
  margin-right: 120px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--footer-color);
  max-width: 264px;
}

.title-social-media {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffffff;
}

.icons-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icons-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link-footer:hover {
  background-color: #31d0aa;
}

.icons-link-footer:focus {
  background-color: #31d0aa;
}

.social-media-icons {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-text-portfolio {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.32px;
  color: var(--footer-color);
  max-width: 264px;
}

.logo-light {
  color: #fff;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-filter {
  font-family: var(--text-font-family);
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  background-color: var(--footer-color);
  cursor: pointer;
}

.button-filter:hover .button-filter:focus {
  color: #ffffffff;
  background-color: #404bbf;
}
.form-footer-container {
  margin-left: 80px;
}

.subscribe-elem {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  background-color: #4d5ae5;
  color: #ffffff;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.footer-icon {
  margin-left: 16px;
  fill: #ffffff;
}

::placeholder {
  color: #ffffff;
}

input:checked + .modal-label-checkbox span:first-child {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-footer-email {
  width: 264px;
  height: 40px;
  background: none;
}

/* MODAL */
.modal {
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2e2f4266;
  position: fixed;
  top: 0;
  left: 0;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-background {
  padding: 72px 24px 24px 24px;
  width: 408px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--modal-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}
.form-container {
  margin-bottom: 8px;
}

.form-place {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  margin-bottom: 8px;
  margin-top: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-place:hover,
.form-place:focus {
  border-radius: 4px;
  border-color: #4d5ae5;
  border: 1px solid var(--buttons-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #4d5ae5;
}

.form-place-comment {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
}

.form-place-comment:focus {
  border-color: #4d5ae5;
}

.form-element {
  color: var(--icons-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.policy-container {
  margin-bottom: 24px;
}

.icons-input {
  position: relative;
}

.icons-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-form:focus {
  fill: #4d5ae5;
}
.form-place:focus + .icons-form {
  fill: #4d5ae5;
}
.form-title {
  color: var(--brand-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.comment-form {
  margin-bottom: 16px;
}
.privacy-policy-elem {
  color: var(--icons-color);
  display: block;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.privacy-policy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 16px;
  width: 16px;
  border-radius: 2px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
  color: #4d5ae5;
}

input:checked + .privacy-policy-elem span:first-child {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checked-icon {
  border: none;
  fill: #f4f4fd;
}

.form-button {
  font-family: "Roboto", sans-serif;
  color: var(--background-color);
  background: var(--buttons-color);
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  margin-right: 120px;
  margin-left: 119px;
  margin-bottom: 24px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTOFOLIO */
.portfolio-container {
  padding: 96px 0 120px 0;
}
/* Buttons first row */
.buttons-list-port {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.buttons {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--buttons-color);
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buttons:hover,
.buttons:focus {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* SECTION 1 Images*/

.container-img {
  position: relative;
  overflow: hidden;
}

.container-img p {
  position: absolute;
  inset: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-button);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-port {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  display: block;
}
.link-port:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-port:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-port:hover p,
.link-port:focus p {
  transform: translateY(0%);
}

.images-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  position: relative;
  list-style: none;
}

.item-image-port {
  flex-basis: calc(100% - 48px) / 3;
  text-decoration: none;
}

.teamcard-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.name-teamcard-port {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: var(--brand-color);
  margin-bottom: 8px;
}
.functions-paragraphs {
  color: var(--contacts-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo-light {
  color: var(--border-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
